* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #fff;
  font-size: 63.5%;
  background-color: var(--white);
}
:root{
  --red: #CF0A0A;
  --lightred: #b14848;
  --black: #000000;
  --white: #EEEEEE;
  --orange: #DC5F00;
}
